
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* > *{
    font-family: 'Poppins', sans-serif;
}
@layer base{
    .cards-container{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
        gap: 2.5rem;
    }
    .sign-up{
        height: calc(100vh - 52px);
        background-image: url("./assets/backround-image.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .header-bg{
        background: rgba(200, 28, 157, 0.819);
    background: linear-gradient(90deg, rgba(200, 28, 157, 0.676) 2%, rgba(155, 26, 194, 0.738) 26%, rgba(16, 29, 207, 0.87) 50%, rgba(20, 105, 190, 0.689) 73%, rgba(19, 151, 195, 0.578) 100%);
    }
    .home-bg{
        height: calc(100vh - 52px);
        background: rgb(200,28,158);
        background: linear-gradient(149deg, rgba(200, 28, 157, 0.404) 2%, rgba(155,26,194,0.6979166666666667) 26%, rgba(16, 29, 207, 0.478) 50%, rgba(20,106,190,0.6587009803921569) 75%, rgba(20, 111, 190, 0.782) 77%, rgba(19, 151, 195, 0.486) 99%);
    }
    .verify-bg{
        height: calc(100vh - 52px);
        background: rgb(200,28,158);
        background: linear-gradient(149deg, rgba(200, 28, 157, 0.753) 2%, rgba(155,26,194,0.6979166666666667) 26%, rgba(25, 39, 226, 0.622) 50%, rgba(20,106,190,0.6587009803921569) 75%, rgba(20, 111, 190, 0.909) 77%, rgba(19, 151, 195, 0.852) 99%);
    }

}
